<h1>Listing games</h1>

<table class="table">
  <tr>
    <th>Gametime</th>
    <th>Hometeam</th>
    <th>Awayteam</th>
    <th>Notes</th>
    <th>Field</th>
    <th>Fieldname</th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.gametime.strftime("%a %m/%d/%y %I:%M%p"), game %></td>
    <td><%= link_to game.hometeam.name, game.hometeam %></td>
    <td><%= link_to game.awayteam.name, game.awayteam %></td>
    <td><%= game.notes %></td>
    <td><%= game.field_id %></td>
    <td><%= game.fieldname %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
