<br/>
<footer class="well">
    <div class="row">
      <div class="span3 offset3">
        <h4>Info</h4>
        <hr/>
        <ul class="unstyled">
          <li><%= link_to "Frequently Asked Questions", '/pages/faq' %></li>
          <li><%= link_to "Privacy", '/pages/privacy' %></li>
          <li><%= link_to "Terms of Use", '/pages/terms' %></li>
        </ul>
      </div>
      <div class="span3">
        <h4>Email</h4>
        <hr/>
        <ul class="unstyled">
          <li><%= link_to "info@teamsoccer.org", 'mailto:info@teamsoccer.org' %></li>
          <li><%= link_to "support@teamsoccer.org", 'mailto:support@teamsoccer.org' %></li>
        </ul>
      </div>
      <div class="span3">
        <h4>Connect</h4>
        <hr/>
        <ul class="unstyled">
          <li><%= image_tag "facebook-icon.png" %></li>
          <li><%= image_tag "twitter-icon.png" %></li>
        </ul>
      </div>
      <div class="span3">
        <h4>Resources</h4>
        <hr/>
        <ul class="unstyled">
          <li><%= link_to "Demo", '#' %></li>
          <li><%= link_to "Team Search", '#' %></li>
      </div>
    </div>
  </footer>
